@model Product
<div class="col-sm-6 col-md-4 col-lg-4 mb-3">
    <div class="card h-100">
        <div class="text-center">
            <!-- Görüntünün ortalama hizalanması için -->
            <img src="~/img/@Model.ImageUrl" alt="@Model.Name" class="img-fluid" style="max-width: 300; max-height: 350px;" />
        </div>
        <div class="card-body d-flex flex-column justify-content-end">
            <h4 class="card-title">
                <a asp-controller="Shop" asp-action="Details" asp-route-id="@Model.Id" style="text-decoration: none; color: inherit;">
                    <span style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">@Model.Name</span>
                </a>
            </h4>
            <small class="text-muted">
                <i class="fa-solid fa-turkish-lira-sign"></i> @Model.Price
            </small>
        </div>
        <div class="card-footer text-center">
            <a asp-controller="Shop" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-outline-primary btn-sm">Details</a>
            @if (User.Identity.IsAuthenticated)
            {
                <form asp-controller="Cart" asp-action="AddToCart" method="post" style="display:inline">
                    <input type="hidden" name="productId" value="@Model.Id" />
                    <input type="hidden" name="quantity" value="1" />
                    <button class="btn btn-outline-primary btn-sm ml-3" type="submit">Add To Cart</button>
                </form>
            }
        </div>
    </div>
</div>

<style>
    .btn-outline-primary:hover {
        color: black; /* Siyah */
        background-color: #f57c00; /* Turuncu */
        border-color: #f57c00; /* Turuncu */
    }

    .btn-outline-primary:active {
        color: #f57c00; /* Turuncu */
        background-color: black; /* Siyah */
        border-color: #f57c00; /* Turuncu */
    }

    .btn-outline-primary {
        color: black; /* Siyah */
        background-color: white; /* Beyaz */
        border-color: #f57c00; /* Turuncu */
    }

    .card-title {
        white-space: nowrap; /* Satır sonunu kes */
        overflow: hidden; /* Taşan içeriği gizle */
        text-overflow: ellipsis; /* Taşan içeriği üç nokta ile göster */
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%; /* Kartın yüksekliği */
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex-grow: 1;
    }
</style>
