@model ProductDetailsModel
@{
	ViewData["Title"] = "Details";
}

<html lang="tr">
<head>
	<meta charset="utf-8">
	<title>Ürün Açıklaması</title>
	<!-- Diğer meta etiketleri ve stil dosyaları -->
</head>

<div class="row">
	<div style="text-align:center">
		<img src="~/img/@Model.Product.ImageUrl" alt="@Model.Product.Name" class="img-fluid" />
	</div>
	<div>
		<br />
		<h1 class="mb-3" style="text-align:center">
			@Model.Product.Name
		</h1>
		<hr />
		<br />
		<br />
		<br />
		<div class="mb-3">
			<h2 class="text mb-3" style="text-align:center; color: orange;">
				<i class="fa-solid fa-turkish-lira-sign"></i>@Model.Product.Price
			</h2>


			<form asp-controller="Cart" asp-action="AddToCart" method="post" class="form-inline d-flex justify-content-center align-items-center">

				<br />
				<input type="hidden" name="productId" value="@Model.Product.Id" />
				<div class="input-group ml-auto d-flex justify-content-center align-items-center">
					<input type="number" name="quantity" class="form-control" value="1" min="1" step="1" style="max-width: 80px;" />
					<div class="input-group-append">
						<button type="submit" class="btn" style="padding: .375rem .75rem; color: orange; background-color: #37363d;">
							<i class="fas fa-cart-plus"></i><span class="d-none d-sm-inline"> Add To Cart</span>
						</button>
					</div>
				</div>
			</form>


		</div>
	</div>
</div>

<div class="row" style="text-align:center">
	<div class="col-md-12">
		<p class="p-3">
			@Html.Raw(Model.Product.Description)
		</p>
	</div>
</div>
